.profile-info {
    background-color : darkslategrey;
    margin : auto;
    border-radius : 10px;
    border : solid 3px;
    max-width : 20vw;
    box-shadow: 5px 7px 5px;
    margin-bottom: 10vh;
}

.profile-container {
    padding-top : 10px;
    
}