.search-profile-info {
    border: solid 10px green;
}

.search-profile-container {
    padding-top : 20px;
    background-color : darkslategrey;
    width : 70%;
    height : 20%;
    padding : 20px;

}

.searchDP {
    padding : 20px;
    border : solid 10px red;
    float :  left;
}