.spin-area{
    max-width: 50vw;
    max-height: 40vh;
    margin: auto;
    border: 3px solid darkmagenta; 
    border-radius:50px;
    padding: 20px;
    background-color: lightgray;
    color: black;
    font-weight: 600;
    display: block;

}

.username-section{
    text-align: left;
    font-weight: 600;
    padding-left: 1vw;
    vertical-align: 1;
    max-height: 5vh;
    max-width: 45vw;
}

.username-section::after{
    content:' ';
    width: 45vw;
    display:block;
    border:1.5px solid darkmagenta;
    
}


.spin-content{
    text-align: left;
    padding-left: 1vw;
    max-height: 15vh;
    max-width: 45vw;
}

.spin-content::after{
    content:' ';
    width: 45vw;
    display:block;
    border:1.5px solid darkmagenta;
}

.time-section{
    text-align: right;
    padding-left: 1vw;
    max-height: 3vh;
    max-width: 45vw;
}

.actionsButton {
    text-align: right;
    float: right;
    max-height: 3vh;
    max-width: 10vh;
}
