.page-container {
    display: flex;  
}

.page-content {
    flex : 1;
    margin: auto;
    padding: 10px;
}

@media only screen and (max-width:767px){
    .page-content {
        font-size: 80%;
    }
}

@media only screen and (min-width:768px) and (max-width:1023px){
    .page-content {
        font-size: 95%;
    }
}
